

<div class="jumbotron">
<ul>

    <li><form  class="deckSelect" name="myForm">
        <label for="selected"> <h3>Select deck:</h3> </label>
        <select name="selected" id="selected" ng-model="deckselected">
            <option ng-repeat="option in data.options" value="{{option}}">
                {{option}}
            </option>
        </select>

        <h4> Which {{deckselected}} cards do you want to include in your review?</h4>

        <label for="one"> (one) Know:  </label>
        <input type="checkbox"  name = "one" id="one" ng-model="checkbox.one" ng-true-value="'one'" ng-false-value="'zero'" >
        (two) Barely Known:
        <input type="checkbox" id="two" name="two" ng-model="checkbox.two" ng-true-value="'two'" ng-false-value="'zero'">
       (three) Kind of Known:
        <input type="checkbox" id="three" name="three" ng-model="checkbox.three" ng-true-value="'three'" ng-false-value="'zero'">
        (four) Mostly Known:
        <input type="checkbox" id="four" name="four" ng-model="checkbox.four" ng-true-value="'four'" ng-false-value="'zero'">
       (five) Known:
        <input type="checkbox" id="five" name="five" ng-model="checkbox.five" ng-true-value="'five'" ng-false-value="'zero'">
        <button ng-click="getDeck(user.data.email, deckselected, checkbox.one, checkbox.two, checkbox.three, checkbox.four, checkbox.five)">Get Deck</button>

    </form>
    </li>

    <li><div class="card">

        <h2>{{deck[index].question}}</h2>
        <br>
        <button class="mybuttons"  ng-click="prev()">PREV</button>
        <button class="mybuttons" ng-click="next()">NEXT</button>
        <br>
        <a ng-click="isAnswerShown = !isAnswerShown">Show/Hide Answer</a>
        <h4 ng-show="false">{{deck[index].answer}}</h4>
        <div class="jumbotron" ng-show="isAnswerShown" id="answerShown">

            <h3> {{deck[index].answer}} </h3>
<br><br>
            <br>
<br><br>
            <br>
<br><br>
            <br>

            <div class="knowy">
              Change how well you know this question

                <form action="/updateKnown" method="post" class="known">
                    How well do you know it? ><input type="text" id="known" ng-model="known">

                    <input class="submit" type="submit" value="Submit">
                </form>

            </div>


        </div>
    </div></li>
</ul>


</div>




