

<!--<label for="selected"> Select user: </label>-->
<!--<select name="selected" id="selected" ng-model="data.selected" >-->
    <!--<option ng-repeat="option in data.options" value="{{option.id}}">-->
        <!--{{option.name}}-->
    <!--</option>-->
<!--</select>-->
<!--ng-change="getUserAddresses(data.selected)"-->


<form name="myForm">
    <label for="selected"> <h2>Select deck:</h2> </label>
    <select name="selected" id="selected" ng-model="deckselected">

        <option ng-repeat="option in data.options" value="{{option}}">
            {{option}}
        </option>
    </select>

    Which cards do you want to include in your review?

    One:
    <input type="checkbox"  name = "one" id="one" ng-model="checkbox.one" ng-true-value="'one'" ng-false-value="'zero'" >
 Two:
    <input type="checkbox" id="two" name="two" ng-model="checkbox.two" ng-true-value="'two'" ng-false-value="'zero'">
 Three:
    <input type="checkbox" id="three" name="three" ng-model="checkbox.three" ng-true-value="'three'" ng-false-value="'zero'">
 Four:
    <input type="checkbox" id="four" name="four" ng-model="checkbox.four" ng-true-value="'four'" ng-false-value="'zero'">
 Five:
    <input type="checkbox" id="five" name="five" ng-model="checkbox.five" ng-true-value="'five'" ng-false-value="'zero'">

</form>


<p> one is {{checkbox.one}}</p>


<p> two is {{checkbox.two}}</p>


<p> three is {{checkbox.three}}</p>


<p> four is {{checkbox.four}}</p>


<p> three is {{checkbox.five}}</p>



<hr>

<!--<button ng-click="getUserCardz(user.data.email)">Get {{user.data.email}}'s Cardz</button>-->


<button ng-click="getDeck(user.data.email, deckselected, checkbox.one, checkbox.two, checkbox.three, checkbox.four, checkbox.five)">Get Deck</button>


<!--{{data.selected}}-->

<!--{{option}}-->




<!--<div class="container">-->
    <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Question</th>-->
            <!--<th>Answer</th>-->
            <!--<th>How well known</th>-->
            <!--<th>Deck</th>-->
            <!--<th>Delete </th>-->


        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody ng-repeat="item in deck">-->
        <!--<tr>-->
            <!--<td>{{item.question}}</td>-->
            <!--<td>{{item.answer}}</td>-->
            <!--<td> {{item.howwellknown}}</td>-->
            <!--<td>{{item.deck}}</td>-->
            <!--<td><button ng-click="deletequestion(item.id)">Delete</button></td>-->

        <!--</tr>-->

        <!--</tbody>-->
        <!--<br>-->

    <!--</table>-->

<!--</div>-->



<!--<form name="myForm">-->
    <!--<label for="selected"> Select user: </label>-->
    <!--<select name="selected" id="selected" ng-model="data.selected" >-->

    <!--<option ng-repeat="option in data.options" value="option">-->
        <!--{{option}}-->
    <!--</option>-->
<!--</select>-->

<!--</form>-->

<hr>
<div class="carousel">


    <div class="cardContainer">
        <div class="jumbotron text-center">

            <h1>{{deck[index].question}}</h1>

            <!--<button ng-click="">show answer</button>-->

            <h2 ng-show="false">{{deck[index].answer}}</h2>


            <a ng-click="isAnswerShown = !isAnswerShown">Show/Hide Answer</a>
            <div ng-show="isAnswerShown" id="answerShown">

                <h1> {{deck[index].answer}} </h1>
            </div>

        </div>

    </div>
    <button class="btn btn-lg"  ng-click="prev()">PREV</button>

    <button class="btn btn-primary btn-lg" ng-click="next()">NEXT</button>


</div>




