

<!doctype html>
<html ng-app="myApp">
<head lang='en'>

    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>body { padding-top:80px; }</style>
    <!--<link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <base href="/">

</head>
<body ng-controller="MainController">

<div class="container">

    <div class="jumbotron text-center">
        <h1>{{user.data.email}}'s Home Page</h1>



        <h3>Make New Deck </h3>


        <form action="/makeDeck" method="post">

            Deck:        <input type="text" id="deck" name="deck" ng-model="deck">

            Question:    <input type="text" id="question" name="question" ng-model="question">

            Answer:    <input type="text" id="answer" name="answer" ng-model="answer">

            How well do you know it:   <input type="text" id="howwellknown" name="howwellknown" ng-model="howwellknown">

            <input class="submit" type="submit" value="Submit">

        </form>

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>


    <ul class="nav nav-pills">
        <!--<li ><a data-toggle="pill" href="#home">Home</a></li>-->
        <li> <a data-toggle="pill" href="/userCardz" class="btn btn-address btn-lg">Your Cardz</button></a></li>
        <li> <a data-toggle="pill" href="/cardDisplay" class="btn btn-order btn-lg">Review Cards</button></a></li>
    </ul>



<div ng-view></div>

</div>
</body>
</html>
