

<!doctype html>
<html ng-app="myApp">
<head lang='en'>

    <meta charset="UTF-8">
    <title>User Home</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <style>body { padding-top:80px; }</style>
    <!--<link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/bootstrap/dist/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <base href="/">

</head>
<body ng-controller="MainController">

<header>
    <h1>{{user.data.email}}'s Flash Cardz Page</h1>

</header>

    <div class="jumbotron text-center">
        <!--<h3>Hello {{user.data.email}}</h3>-->
        <!--<p>Congratulations on continuing your journey of learning!</p>-->

        <ul class="nav nav-pills">

            <li></li>
            <li> <a data-toggle="pill" href="/addCardz" class="btn btn-address btn-lg"><h1>Add cardz</h1></button></a></li>
            <!--<li></li>-->
            <li> <a data-toggle="pill" href="/cardDisplay" class="btn btn-order btn-lg"><h1>Review Cardz</h1></button></a></li>
            <li></li>
        </ul>

        <!--<a ng-click="isMakeDeckShown = !isMakeDeckShown"><h2>Click here to add a card to any deck or start a new deck </h2></a>-->
        <div class="jumbotron" ng-show="isMakeDeckShown" id="MakeDeckShown">
            <form  action="/makeDeck" method="post">
                <h3>Add a new card </h3>

                <div class="col-xs-2">
                    <label for="deck">Deck: </label>
                    <input class="form-control" type="text" id="deck" name="deck" ng-model="deck" type="text">
                </div>

                <div class="col-xs-4">
                    <label for="question">Question: </label>
                    <input class="form-control" type="text" id="question" name="question" ng-model="question" type="text">
                </div>


                <div class="col-xs-4">
                    <label for="answer">Answer: </label>
                    <input class="form-control" type="text" id="answer" name="answer" ng-model="answer" type="text">
                </div>

                <div class="col-xs-2">

                        <label for="answer">How well do you know it (one, two, three, four, five): </label>
                        <input class="form-control" type="text" id="known" name="known" ng-model="known">
                    <!--<input class="form-control" type="number" id="known" name="known" ng-model="known">-->
                </div>

                <input class="submit" type="submit" value="Submit">
            </form>
        </div>

        <div ng-view></div>


    </div>


</div>
</div>


</body>
</html>
